body {
        margin: 30px; 
        font-family: Arial, Helvetica, sans-serif;
}
td {
    vertical-align: top;
    padding: 10px;  
    background-color: lightgray;
}
td1 {
    font-weight: bold;
}
input.text {
    width: 500px;
}
p.printinfo {
    color:black; 
}
p.printerror {
    color:red; 
}
